{{ define "content" }}

<h1>
  Listing Cities for {{ .Name }}
</h1>

<div class="responsive-table">
  <div class="scrollable-area">
    <table class="table table-bordered table-striped">

      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      {{ range .Cities }}
      <tr id="city-{{ .Id }}">
        <td>{{ .Id }}</td>
        <td>{{ .Name }}</td>
        <td>
          <a href="/cities/{{ .Id }}">Show</a>
          <a href="/cities/{{ .Id }}/edit">Edit</a>
          <a href="/api/cities/{{ .Id }}" data-method="DELETE" data-remove="country-{{ .Id }}">Delete</a>
        </td>
      </tr>
      {{ end }}
      </tbody>
    </table>

    {{ template "pagination" .Pagination }}
  </div>
</div>

<p>
<a href="{{ .Path }}/new">Create</a>
</p>
{{ end }}
