<html>
  <head>
    <title>Page title</title>


    <!--
    TODO: csrf_token
    -->
  </head>

  <body class='without-footer main-nav-closed'>

    <div id='wrapper'>

        <section id="content">
          <div class="container">
            <div class="row" id="content-wrapper">

              <div class="col-xs-12">
                {{ template "content" . }}
              </div>

            </div>
          </div>
      </section>

  </div>

  <link href="/assets_dev/2/bootstrap/css/bootstrap.css" media="all" rel="stylesheet" type="text/css">
  <link href="/assets_dev/_/app.css" media="all" rel="stylesheet" type="text/css">

  <script src="/assets_dev/1/jquery/jquery.js"></script>
  <script src="/assets_dev/2/bootstrap/js/bootstrap.js"></script>
  <script src="/assets_dev/3/autosize.js"></script>
  <!--
  <script src="/assets_dev/4/js/jquery.dataTables.js"></script>
  <script src="/assets_dev/5/js/i18n/grid.locale-en.js"></script>
  <script src="/assets_dev/5/js/jquery.jqGrid.js"></script>
  <script src="/assets_dev/6/jsgrid.js"></script>

  <link rel="stylesheet" href="http://cdn.webix.com/edge/webix.css" type="text/css">
  <script src="http://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
  -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js"></script>
  <!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
  -->

  <script src="/assets_dev/_/app.js"></script>

  </body>

  </html>
