<html>
  <head>
    <title>Page title</title>

    <!-- <link href="/assets/app.css" media="all" rel="stylesheet" type="text/css"> -->
    <link href="/assets_dev/2/bootstrap/css/bootstrap.css" media="all" rel="stylesheet" type="text/css">

    <!--
    TODO: csrf_token
    -->
  </head>

  <body class='without-footer main-nav-closed'>

    <div id='wrapper'>
      <div id='main-nav-bg'></div>

        <section id="content">
          <div class="container">
            <div class="row" id="content-wrapper">
              <div class="col-xs-12">
                {{ template "content" . }}
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>

  <link href="/assets_dev/_/app.css" media="all" rel="stylesheet" type="text/css">

  <script src="/assets_dev/1/jquery/jquery.js"></script>
  <script src="/assets_dev/2/bootstrap/js/bootstrap.js"></script>
  <script src="/assets_dev/3/autosize.js"></script>
  <script src="/assets_dev/4/js/jquery.dataTables.js"></script>
  <script src="/assets_dev/_/app.js"></script>
  </body>

  </html>
